<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @node.parent %>
</p>

<p>
  <strong>Prob:</strong>
  <%= @node.prob %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
